*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: hsl(233, 26%, 24%);
    max-width: 100%;
}
html{
    scroll-behavior: smooth;
    font-family: 'Public Sans' sans-serif;
}
.reqBtn{
    width: 120px;
    border-radius: 20%;
}
.hero-text{
    font-size: 15px;
    line-height: 22px;
}
.hero{
    background-color: hsl(0, 0%, 98%);
    width: 100%;
    overflow: hidden;
}
.heroImg{
    height: 550px;
    width: 650px;
}
h1{
    font-size: 3rem;
}
.hero-right{
    background-image:url(./images/bg-intro-desktop.svg);
}
.nav-pages{
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: inline-start;
}
.reqBtn{
    background-image: linear-gradient(hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.reqBtn:hover{
    background-image: linear-gradient(hsl(192, 70%, 51%),hsl(136, 65%, 51%));
}

.footer{
    background-color: hsl(233, 26%, 24%);
    width: 100%;
    height: auto;
}
.socials:hover{
    color: aqua;
}
.nav-underline{
    color:hsl(136, 65%, 51% ;
}


@media screen and (min-width: 480px) {
.card{ color: aqua;

}
}